/*
  slate blue: #33386a;
  dark blue: #1c214d;
  green: #566a33;
  orange: #fc5400;
  off-white: #fcfcfc;
  off-black: #222;
*/
a {
  color: #33386a;
}
body {
  background-color: #fcfcfc;
  color: #222;
  font-family: Geneva, Helvetica, Arial, sans-serif;
  font-size: 1.025em;
  margin: 0;
}
h1, h2, h3, h4, nav a {
  font-family: Futura, "Oswald", "Lucida Grande", Arial, sans-serif;
}
header .well, section .well {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}
header .well {
  padding: 1em 0;
}
header {
  background-color: black;
  font-size: 1.25em;
}
header .home-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .well {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 700px;
}
nav {
  flex-direction: column;
  text-align: right;
  width: 4em;
}
nav a {
  color: #1a2deb;
  text-decoration: none;
}
nav a.active {
  color: #fc5400;
}
nav a:hover {
  color: white;
}
section .well {
  max-width: 600px;
}
.logo.text {
  height: 60px;
  width: 180px;
}
.picture {
  height: 100px;
  width: 100px;
}
.home-links .picture {
  border-radius: 5em;
  margin-right: .5em;
}
.home-links {
  min-height: 100px;
}
