.black-text {
  color: #3a3a3a;
}
.light-gray-text {
  color: #a3a3a3;
}
.green-text {
  color: #566a33;
}
.orange-text {
  color: #fc5400;
}
a {
  color: #33386a;
}
body {
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  font-family: Geneva, Helvetica, Arial, sans-serif;
  font-size: 1.025em;
  margin: 0;
}
footer {
  background-color: #3a3a3a;
  flex-shrink: 0;
  height: 2em;
  margin-top: 2em;
}
h1, h2, h3, h4, nav a {
  font-family: Futura, "Oswald", "Lucida Grande", Arial, sans-serif;
}
header .well, section .well {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}
header .well {
  padding: 1em 0;
}
header {
  background-color: #3a3a3a;
  font-size: 1.25em;
}
header .home-links {
  align-items: center;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
header .well {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 700px;
}
main {
  flex: 1 0 auto;
}
nav {
  flex-direction: column;
  width: 4em;
}
nav a {
  color: #1a2deb;
  text-decoration: none;
}
nav a.active {
  color: #fc5400;
}
nav a:hover {
  color: white;
}
section .well {
  max-width: 600px;
}
.picture {
  height: 100px;
  width: 100px;
}
.home-links .image {
  border: 2px solid black;
  border-radius: 5em;
  margin-right: .25em;
}
.home-links {
  min-height: 5em;
}
